<?xml version="1.0" encoding="UTF-8"?>
<Settings>
    <AimAssist>
        <Enable>1</Enable>
        <AutoAim>1</AutoAim>
        <AimLock>1</AimLock>
        <AimDrag>1</AimDrag>
        <Smoothness>0</Smoothness>
        <FOV>360</FOV>
        <MaxDistance>500.0</MaxDistance>
        <Priority>nearest</Priority>
        <BodyPart>chest</BodyPart>
        <LockAfterShot>1</LockAfterShot>
        <ResetDelay>50</ResetDelay>
    </AimAssist>
    <Recoil>
        <VerticalReduction>1.0</VerticalReduction>
        <HorizontalReduction>1.0</HorizontalReduction>
        <Pattern>none</Pattern>
    </Recoil>
    <Stability>
        <NoShake>1</NoShake>
        <NoBounce>1</NoBounce>
        <NoOverShoot>1</NoOverShoot>
        <StickyAim>1</StickyAim>
        <StickyFactor>1.0</StickyFactor>
    </Stability>
    <Sensitivity>
        <Override>1</Override>
        <General>0</General>
        <RedDot>0</RedDot>
        <Scope2x>0</Scope2x>
        <Scope4x>0</Scope4x>
        <Sniper>0</Sniper>
        <FreeLook>0</FreeLook>
    </Sensitivity>
    <Input>
        <DPI>0</DPI>
        <PollingRate>1000</PollingRate>
        <RawInput>1</RawInput>
        <TouchDeadZone>0</TouchDeadZone>
        <SwipeSpeed>0</SwipeSpeed>
    </Input>
    <Hotkeys>
        <ToggleAimbot>F1</ToggleAimbot>
        <ToggleAimlock>F2</ToggleAimlock>
        <ToggleAimdrag>F3</ToggleAimdrag>
        <IncFOV>NUMPAD_ADD</IncFOV>
        <DecFOV>NUMPAD_SUBTRACT</DecFOV>
    </Hotkeys>
</Settings>
